$logo-font: 'Josefin Slab', serif;
$heading-font: 'Lato', sans-serif;
$para-font: 'Lato', sans-serif;

// color palette
$dark-blue: #121b3e;
$med-blue: #4f5984;
$light-blue: #7090cb;
$grey: #aaa8a6;
$white: #f4f4f4;