// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600|Lato:400,400i,700');
// font-family: 'Josefin Slab', serif;
// font-family: 'Lato', sans-serif;


$logo-font: 'Josefin Slab', serif;
$heading-font: 'Lato', sans-serif;
$para-font: 'Lato', sans-serif;

// color palette
$dark-blue: #121b3e;
$med-blue: #4f5984;
$light-blue: #7090cb;
$grey: #aaa8a6;
$white: #f4f4f4;

// site defaults

body {
  background-color: $grey;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: $grey;
}

header {

  max-height: 80px;
  width: 100%;
  padding: 10px 0 10px 0;
  display: inline-flex;
  justify-content: space-between;
  background-color: $dark-blue;
  box-shadow: 0 8px 6px -6px black;

  .logo-container {

    .logo-link {
      display: inline-flex;
      align-items: center;
      text-decoration: none;

      .logo-image {
        padding-left: 20px;
      }

      .logo-font {
        font-family: $logo-font;
        color: $white;
        font-weight: 600;
        font-size: 2rem;
        padding-left: 20px;
      }


    }

  }

  .main-nav {

    .menu-icon {
      display: none;
      text-decoration: none;
    }

    ul {

      height: 100%;
      padding-right: 20px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;

      li {

        a {
          color: $white;
          padding: 10px;
          font-size: 1.2rem;
        }

      }

    }

  }

}

.fixed{

    position: fixed;
    top:0;
    width: 100%;
    max-width: 1024px;

}
